.card {
    padding: 1.5rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid var(--color);
    border-radius: 2rem 1rem;
    transition: background-color .3s, transform .3s;
}

.card:hover {
    background-color: var(--green);
    transform: scaleX(.9);
}


.flag {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;

    border-radius: 50%;

    background-size: cover;
    background-position: center;
    box-shadow: .2rem .2rem .2rem var(--color);
}

.name {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
}